<div class="container">
  <div class="page-header">
    <h1>Twitter Search</h1>
  </div>

  <form class="form-inline" role="form">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="row panel">
      <div class="input-group">
        <span class="input-group-addon">Tweets with:</span>
        <input type="text" name="term" class="form-control" placeholder="enter search term here!">
        <span class="input-group-btn">
          <button class="btn btn-default" type="sybmit">Go!</button>
        </span>
      </div>
    </div>
    </form>
    <div class="row page-header">Found <%= @tweets.length %> tweets with "<%= @search_term %>"</div>
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        <% @tweets.each do |t| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <strong><%= t.user.name %></strong>
             in <span class="label label-default"><%= t.place.name %></span>
             <span class="label label-success"><%= distance_of_time_in_words_or_absolute(t.created_at) %></span>
             <span text="see on map" class="glyphicon glyphicon-screenshot" onclick="addMarkerToMap(<%= t.geo.coordinates %>)"></span>
          </div>
          <div class="panel-body">
            <%= "#{t.text}"%>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-6 col-sm-6 col-lg-6" id="map-canvas"></div>
    </div>
  </div>
</div>
